.Create {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
  }
  
  .Create h2 {
    font-size: 24px;
    font-weight: 500;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
  }
  #name-input {
    border: 1px solid #ccc;
    padding: 8px;
    width: auto;
}
  #nameInput,
  .numInput {
    width: 100px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .createLabel {
    font-size: 14px;
    font-weight: bold;
    margin-right: 7px;
  }
  
  .createForm {
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 40%;
  }
  
  .submit {
    background-color: #007bff;
    color: white;
    padding: 5px 12px;
    border: 0;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 3px;
    text-align: center;
  }