footer {
    background-color: #D1E4F4;
    position: absolute;
  bottom: 0;
  width: 100%;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D1E4F4;
  }

  .footer-Buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
  }
  
  .title {
    flex-grow: 1;
    text-align: center;
  }
  
  .title h1 {
    color: #222;
    font-size: 10px;
  }
  
  .buttons-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    color: #222;
    font-size: 10px;
  }
  
  .buttons-container button {
    margin-right: 1rem;
    color: #222;
    background-color: #D1E4F4;
    border: none;
    cursor: pointer;
  }
  
  .buttons-container button:hover {
    color: #fff;
  }
  
  .language-container {
    width: 200px; /* set a fixed width to make the container smaller */
    margin: 0 auto; /* center the container horizontally */
  }
  
  /* Apply some default styles to the Select component */
  .react-select-container {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  /* Style the Select component dropdown */
  .react-select__control {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: none;
    height: 38px;
    padding: 0 10px;
  }
  
  /* Style the Select component options */
  .react-select__option {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  /* Style the Select component selected option */
  .react-select__single-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  