footer {
  background-color: #D1E4F4;
  position: static;
  bottom: 0;
  width: 100%;
  }
  
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D1E4F4;
    height: 50px;
  }
  
  .buttons-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    color: #222;
    font-size: 10px;
  }

  .link {
    font-size: 20px;
    padding: 10px 10px;
  }

  .link {
    transition: font-size 0.5s ease;
  }

  .link:hover {
    font-size: 23px;
  }
  
  .buttons-container:hover {
    color: #fff;
    cursor: pointer;
  }
  
  .language-container {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-right: 20px;
    border: 1px solid black;
  }
  
  /* Apply some default styles to the Select component */
  .react-select-container {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  /* Style the Select component dropdown */
  .react-select__control {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    box-shadow: none;
    height: 38px;
    padding: 0 10px;
  }
  
  /* Style the Select component options */
  .react-select__option {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  
  /* Style the Select component selected option */
  .react-select__single-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  