.headerButtons { 
  background-color: #a0b0bdc6;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 50px;
  position: relative;
  box-shadow: 1px 3px 7px -2px rgba(79,77,77,0.91);
  -webkit-box-shadow: 1px 3px 7px -2px rgba(79,77,77,0.91);
  -moz-box-shadow: 1px 3px 7px -2px rgba(79,77,77,0.91);
}

.title {
  flex-grow: 1;
  text-align: center;
}

.title h1 {
  color: #222;
}

.name {
  font-family: 'Noto Serif Devanagari', serif;
  text-align: left;
  margin-left: 50px;
  font-size: 40px !important;
  position: absolute;
  margin-top: 10px;
}

.name {
  transition: font-size 0.5s ease;
}

.name:hover {
  font-size: 37px !important;
  color: #0077cc;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1.5;
  height: 50px;
  }

.headerTabs {
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  font-size: 20px;
  height: 50px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.headerTabs:hover {
  font-size: 22px;
  color: white;
  background-image: linear-gradient(to bottom, rgba(160, 176, 189, 0.78), white);
  background-size: 200% 200%;
  background-position: top;
  transition: background-color 0.7s ease;
  transition: font-size 0.7s ease;
}

.link {
  text-decoration: none;
  color: black;
}

.sign {
  background-color: #007bff;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
  border-radius: 0 !important;
}

.login-modal {
  display: flex;
  justify-content: center;
}

.loginButtons {
  padding: 10px;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
}

@media only screen and (min-width: 1020px) {
  
}

@media only screen and (max-width: 600px) {
  /* CSS rules for screens smaller than 600px */
  /* ... */
}

@media only screen and (max-width: 400px) {
  /* CSS rules for screens smaller than 400px */
  /* ... */
}
