.title {
  text-align: center;
  font-size: 24px !important;
}

.link {
  text-decoration: none;
  color: black;
}

.buttons { 
  background-color: #a0b0bdc6;
  display: flex;
  justify-content: center;
  text-align: center;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px 12px;
  border: 0;
  font-size: 14px;
  margin-top: 5px; 
}

.button:hover {
    background-color: #0069d9;
    cursor: pointer;
  }

.button-group {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-grow: 1;
display: flex;
}

.sign {
  background-color: #a0b0bdc6;
  border: none;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
}

.login-modal {
  display: flex;
  justify-content: center;
}