#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .nutritionTitle {
    grid-column: 1 / 3;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .searchName {
    font-size: 25px;
  }
  

  .searchButton {
    border: none;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #0069d9;
    cursor: pointer;
  }
  

  
  .servings {
    font-size: 20px;
    margin-right: 10px;
  }
  
  #number-input {
    width: 100px;
    height: 25px;
    font-size: 16px;
  }
  
  #dropdown-menu {
    width: 150px;
    height: 35px;
    font-size: 16px;
  }
  
  .nutritionInfo {
    grid-column: 1 / 3;
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin: 0 auto;
  }
  
  th {
    text-align: left;
    font-weight: normal;
  }
  
  td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  .sub {
    padding-left: 20px;
  }
  
  .last {
    border-bottom: none;
  }
  
  .alt {
    background-color: #f2f2f2;
  }
  