
.aboutUsHome {
    height: 100vh;
}

.container {
    display: flex;
    height: 200px;
    width: 400px;
    border: 2px solid blue;
    margin: 20px auto;
}

.profileImg {
    flex: 1;
}

.image {
    max-height: 200px;
    width: 200px;
    object-fit: cover;
    margin-left: 40px;
}

.profileTxt {
    flex: 2;
    padding: 20px;
}